* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto';
}

html, body {
    height: 100%;
}

body {
    position: relative;
    min-width: 1280px;
}

// header

.header {
    width: 100%;
    height: 200px;
    position: relative;

    flex: 1;
    background: url("/assets/img/backMenu2.jpg") repeat-x; 
    background-attachment: fixed;
}

.header__logo {
    height: 134px;
    width: 100%;

    a {
        width: 260px;
        height: 100%;
        display: block;
        margin: 0 auto;

        img {
            height: 100%;
            width: 260px;
            display: block;
            margin: auto;
        }
    }
}

.header__nav-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-image: linear-gradient(rgba(62, 66, 104,0.7), rgba(104, 41, 41, 0));
    background-position: center;
}

.fixed {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    height: 62px;
    //background: rgba(78, 78, 78, 0.5);
    background-image: linear-gradient(rgb(101, 116, 255), rgba(221, 242, 255,0));
   
    z-index: 10;
    border: none;
    width: 100%;

    transition-duration: .4s;

    &:hover{

        background-image: linear-gradient(rgb(85, 46, 255), rgba(221, 242, 255,0));
   

    }
}

.header__nav {
    max-width: 700px;
    margin: 0 auto;
}

.nav__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.item__link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    flex-grow: 1;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .1s linear;

    &:hover {
        background-image: linear-gradient(rgb(160, 0, 0),rgba(129, 33, 33, 0));
   border-bottom-right-radius: 18px;}
}

.item__link:not(:last-child) {
    border-right: 2px solid grey;
}

// information

.info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

padding: 5px;
    font-style: 'Roboto';
font-size: 17px;
text-align: center;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

//footer

.videoDiv{
    padding-top: 5px;
    border-top: 2px solid rgb(56, 56, 56);
margin-left: auto;
margin-right: auto;
text-align: center;
background-image: linear-gradient(rgb(0, 35, 117),rgba(129, 33, 33, 0));
  

}


.footer {
    text-align: center;
    height: 190px;
    border-top: 1px solid rgb(56, 56, 56);
    background-color: rgb(204, 204, 204);

    .contDiv {
        width: 25%;
        float: left;

        .socialDiv {

            float: inline-start;
            font-weight: bold;
            text-align: center;
            //padding: 30px;


            .sochial {
                height: 50px;
                // border: 1px solid rgb(119, 119, 119);  

            }

            img {

                position: relative;
                // padding-left: 50px;
                margin-top: 4%;
                margin-left: 15%;
                float: left;
            }

        }

    }

    .ZagolovDiv {

        float: inline-start;
        font-weight: bold;
        border-top: 1px solid rgb(0, 0, 0);
        margin-bottom: 8px;

    }

    .contact {
        width: 37%;
        margin: auto;

    }


    .adres {
        //  width: 32%;
        margin: auto;

    }

    p {
        border-bottom: 1px solid rgb(73, 73, 73);

        border-bottom-width: 6px;
        border-radius: 5px;
        margin-bottom: 9px;
    }
}

//information

body{

    flex: 1;
    background: url("/assets/img/backMenu2.jpg") repeat-x; 
    background-attachment: fixed;
}


.information {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
   
    
    .container {
        display: flex;
        max-width: 1080px;
        height: 600px;
        height: fit-content;
        justify-content: space-between;

      //  border: 2px solid rgb(0, 0, 0);

        .container__left {
            max-width: 70%;
            max-height: 100%;
            height: 100%;

            .swiper-container {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                }
            }
        }




      .cont_left{
margin-right: 10px;
        width: 782px;
        max-height: 140%;
        display: inline;
      //  border: 1px solid black;

.content_top{

    display: flex;
  //  border: 1px solid rgb(32, 255, 225);
max-width: 100%;
max-height: 100%;
//background-color: rgb(65, 255, 239);


    .photo_one{

      //  border: 1px solid rgb(99, 99, 99);
      //  border-radius: 12px;
max-width: 42%;
max-height: 70%;

background-image: linear-gradient(rgba(255, 52, 45, 0), rgb(255, 153, 0));


img{
    max-width: 100%;
    max-height: 100%;


}


     }

     .text_desc{

        background-image: linear-gradient(rgba(255, 129, 45, 0.95), rgba(255, 243, 75, 0.95));

display: inline;





margin-left: 10px;

        padding-left: 5px;
         
         padding-bottom: 5px;
         
         max-width: 60%;
    height: 600px;
    border: 1px solid rgb(99, 99, 99);
     border-radius: 12px;


     .oborudov{
        // margin-top: 10px;
      //  border: 1px solid black;
       // background-color: blue;
        width: 98%;
        height: 12%;

        display: inline-flex;


        .block{
            box-shadow: 2px 2px 5px rgba(19, 20, 32, 0.5), 1px 1px 5px rgb(10, 9, 22);


            cursor: pointer;
            border-radius: 6px;
max-width: 65%;
max-height: 80%;

margin: 6px;
display: flex;

padding: 13px;
margin-right: 8px;
margin-bottom: 10px;

background-image: linear-gradient(rgba(255, 52, 45, 0.9), rgba(255, 171, 75, 0.897));


word-wrap: break-word;
font-family: 'Roboto';
font-size: 22px;

transition-duration: .7s;

&:hover{
    background-image: linear-gradient(rgba(255, 171, 75, 0.897),rgba(255, 52, 45, 0.9) );


}
        }
        }


        .volume{

margin-top: 10px;            
margin-bottom: 10px;    
         height: 10%;
               max-width: 70%;
               padding: 6px;
               text-align: center;
            margin-left: 8px;   
            background-image: linear-gradient(rgba(209, 255, 45, 0.9), rgba(255, 171, 75, 0.897));
 
                border: 1px solid rgb(99, 99, 99);
                border-radius: 5px;

                font-family: 'Roboto';
font-size: 20px;
            
            }



p{
    text-indent: 5%;
    word-wrap: break-word;
//font-family: 'Segoe UI';
font-family: 'Roboto';
font-size: 16px;
padding: 8px;


}

     }

}


.photo_one{

   // border: 1px solid rgb(99, 99, 99);
    border-radius: 12px;
max-width: 52%;
max-height: 85%;

 }
         





        }


        .container__right {
            width: 28%;
//margin-left: 10px;
max-height: 100%;
padding: 8px;
border-radius: 15px;
background-image: linear-gradient(rgba(80, 255, 45, 0.7), rgba(75, 183, 255, 0.897));


            form {
                display: flex;
                flex-direction: column;
                align-items: center;
               
                input {
                    margin-bottom: 8px;
                    padding: 10px;
                    width: 100%;
                    
                    font-size: 16px;
                    outline: none;
                    border: 2px solid rgb(161, 161, 161);
                   
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
        
                select {
                    height: 45px;
                    padding: 10px;
                    width: 100%;
                    font-size: 16px;
                    outline: none;
                    border: 2px solid lightgrey;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    margin-bottom: 8px;
                }
        
                #sendForm {
                    background-color: rgb(255, 245, 106);
                    
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                }
        
                #sendForm:hover {
                    background-color: rgb(243, 227, 0);
                    color: #000; 
                }
            }
        }
    }
}


    //border: 2px solid rgb(161, 161, 161);
    //margin: 15px auto;
   // padding: 10px;
    //background-color: rgb(214, 214, 214);


//background-image: linear-gradient(rgba(80, 255, 45, 0.7), rgba(75, 183, 255, 0.897));



.mini_gal{
    display: flex;
width: 70%;
height: 315px;
//border: 2px solid black;
margin: 5px auto;
//float: flex;



.photo{
    position: relative;
//display: inline-block;
    //border: 1px solid rgb(77, 77, 77);
    width: 370px;
height: 300px;
margin-top: 5px;
margin: 0 auto;
background-color: rgba(99, 99, 99, 0.389);

img{
    position: relative;
z-index: 1;
    width: 100%;
    height: 100%;

}


.title_ph{
    position: relative;
   // display: inline-block;
color: rgb(0, 0, 0);
font-family: Roboto ;
text-transform: uppercase;
font-weight: 600;
font-size: 20px;
padding-top: 10px;
text-align: center;
//top: 0px;
width: 370px;
height: 50px;
left: 0px;
bottom: 305px;
z-index: 10;
background-color: rgba(34, 230, 220, 0.548);
}

}





}





//gallery geksogen

.gal_block{

    width: 100%;
    height: 585px;

    background-image: linear-gradient(rgba(160, 0, 0,0),rgba(13, 21, 129, 1));
  

.gallery{
    display: flex;
    position:relative;
    height:100%;
   max-width:55%;
margin: 0 auto;
//background-color: brown;
    
  }
  
  .gallery:after{
    
    content:'';
  }
  
  .shadow{
    position: absolute;
    top: 500px;
    left: 100px;
    width: 500px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(#805d78,rgba(0,0,0,0) 70%);
  }
  
  
  
  .clipped-border{
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
     clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
     padding:5px;
     background:linear-gradient(grey,lightgrey);
     width:var(--border-width);
     height:var(--border-height);
     max-height:350px;
     max-width:350px;
     //height: var(--height);
     //width:var(--width);
     transition:transform 0.2s;
     position:absolute;
     cursor:pointer;

     img{
        //  width:var(--width);
         // height:var(--height);
      
         width: 100%;
         height: 100%;
        }
  }
  
  
  
  .clipped-border:before{
    content:'';
    position:absolute;
    opacity:0.5;
    width:450px;
    height:70px;
    background:white;
    top:0;
    left:0;
    z-index:1;
    transform:rotate(45deg);
    transition:transform 0.5s;
  }
  
  .clipped-border:hover:before{
    transform: translate(-100px,400%) rotate(45deg);
    transition:transform 0.5s;
  }
  
  .clipped-border:nth-child(2){
    top:196px;
    left:118px;
  }
  
  .clipped-border:nth-child(3){
    top:0;
    left:235px;
  }
  
  .clipped-border:nth-child(4){
    top:196px;
    left:353px;
  }
  
  .clipped-border:nth-child(5){
    top:0;
    left:470px;
  }
  
  #clipped {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  
  }
  
  .clipped-border:hover{
    transform:scale(1.2);
    transition:transform 0.2s;
    z-index:10;
  }
  
  
  @media screen and (max-width:500px){
    .clipped-border{
      width:100px;
      height:100px;
    }
    
    .clipped-border:nth-child(2){
      top:0;
      left:100px;
    }
    
    .clipped-border:nth-child(3){
      left:200px;
    }
    
    .clipped-border:nth-child(4){
      top:82px;
      left:50px;
    }
    
    .clipped-border:nth-child(5){
      top:82px;
      left:150px;
    }
  }
}