* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

html, body {
  height: 100%;
}

body {
  position: relative;
  min-width: 1280px;
}

.header {
  width: 100%;
  height: 200px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("/assets/img/backMenu2.jpg") repeat-x;
  background-attachment: fixed;
}

.header__logo {
  height: 134px;
  width: 100%;
}

.header__logo a {
  width: 260px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.header__logo a img {
  height: 100%;
  width: 260px;
  display: block;
  margin: auto;
}

.header__nav-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 66, 104, 0.7)), to(rgba(104, 41, 41, 0)));
  background-image: linear-gradient(rgba(62, 66, 104, 0.7), rgba(104, 41, 41, 0));
  background-position: center;
}

.fixed {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  height: 62px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6574ff), to(rgba(221, 242, 255, 0)));
  background-image: linear-gradient(#6574ff, rgba(221, 242, 255, 0));
  z-index: 10;
  border: none;
  width: 100%;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.fixed:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#552eff), to(rgba(221, 242, 255, 0)));
  background-image: linear-gradient(#552eff, rgba(221, 242, 255, 0));
}

.header__nav {
  max-width: 700px;
  margin: 0 auto;
}

.nav__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.item__link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.item__link:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a00000), to(rgba(129, 33, 33, 0)));
  background-image: linear-gradient(#a00000, rgba(129, 33, 33, 0));
  border-bottom-right-radius: 18px;
}

.item__link:not(:last-child) {
  border-right: 2px solid grey;
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  font-style: 'Roboto';
  font-size: 17px;
  text-align: center;
  border: 1px solid #323232;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.videoDiv {
  padding-top: 5px;
  border-top: 2px solid #383838;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#002375), to(rgba(129, 33, 33, 0)));
  background-image: linear-gradient(#002375, rgba(129, 33, 33, 0));
}

.footer {
  text-align: center;
  height: 190px;
  border-top: 1px solid #383838;
  background-color: #cccccc;
}

.footer .contDiv {
  width: 25%;
  float: left;
}

.footer .contDiv .socialDiv {
  float: inline-start;
  font-weight: bold;
  text-align: center;
}

.footer .contDiv .socialDiv .sochial {
  height: 50px;
}

.footer .contDiv .socialDiv img {
  position: relative;
  margin-top: 4%;
  margin-left: 15%;
  float: left;
}

.footer .ZagolovDiv {
  float: inline-start;
  font-weight: bold;
  border-top: 1px solid black;
  margin-bottom: 8px;
}

.footer .contact {
  width: 37%;
  margin: auto;
}

.footer .adres {
  margin: auto;
}

.footer p {
  border-bottom: 1px solid #494949;
  border-bottom-width: 6px;
  border-radius: 5px;
  margin-bottom: 9px;
}

body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("/assets/img/backMenu2.jpg") repeat-x;
  background-attachment: fixed;
}

.information {
  width: 80%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  height: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information .container .container__left {
  max-width: 70%;
  max-height: 100%;
  height: 100%;
}

.information .container .container__left .swiper-container {
  width: 100%;
  height: 100%;
}

.information .container .container__left .swiper-container img {
  width: 100%;
}

.information .container .cont_left {
  margin-right: 10px;
  width: 782px;
  max-height: 140%;
  display: inline;
}

.information .container .cont_left .content_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.information .container .cont_left .content_top .photo_one {
  max-width: 42%;
  max-height: 70%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 52, 45, 0)), to(#ff9900));
  background-image: linear-gradient(rgba(255, 52, 45, 0), #ff9900);
}

.information .container .cont_left .content_top .photo_one img {
  max-width: 100%;
  max-height: 100%;
}

.information .container .cont_left .content_top .text_desc {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 129, 45, 0.95)), to(rgba(255, 243, 75, 0.95)));
  background-image: linear-gradient(rgba(255, 129, 45, 0.95), rgba(255, 243, 75, 0.95));
  display: inline;
  margin-left: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  max-width: 60%;
  height: 600px;
  border: 1px solid #636363;
  border-radius: 12px;
}

.information .container .cont_left .content_top .text_desc .oborudov {
  width: 98%;
  height: 12%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.information .container .cont_left .content_top .text_desc .oborudov .block {
  -webkit-box-shadow: 2px 2px 5px rgba(19, 20, 32, 0.5), 1px 1px 5px #0a0916;
          box-shadow: 2px 2px 5px rgba(19, 20, 32, 0.5), 1px 1px 5px #0a0916;
  cursor: pointer;
  border-radius: 6px;
  max-width: 65%;
  max-height: 80%;
  margin: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  margin-right: 8px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 52, 45, 0.9)), to(rgba(255, 171, 75, 0.897)));
  background-image: linear-gradient(rgba(255, 52, 45, 0.9), rgba(255, 171, 75, 0.897));
  word-wrap: break-word;
  font-family: 'Roboto';
  font-size: 22px;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.information .container .cont_left .content_top .text_desc .oborudov .block:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 171, 75, 0.897)), to(rgba(255, 52, 45, 0.9)));
  background-image: linear-gradient(rgba(255, 171, 75, 0.897), rgba(255, 52, 45, 0.9));
}

.information .container .cont_left .content_top .text_desc .volume {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 10%;
  max-width: 70%;
  padding: 6px;
  text-align: center;
  margin-left: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 255, 45, 0.9)), to(rgba(255, 171, 75, 0.897)));
  background-image: linear-gradient(rgba(209, 255, 45, 0.9), rgba(255, 171, 75, 0.897));
  border: 1px solid #636363;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 20px;
}

.information .container .cont_left .content_top .text_desc p {
  text-indent: 5%;
  word-wrap: break-word;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 8px;
}

.information .container .cont_left .photo_one {
  border-radius: 12px;
  max-width: 52%;
  max-height: 85%;
}

.information .container .container__right {
  width: 28%;
  max-height: 100%;
  padding: 8px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 255, 45, 0.7)), to(rgba(75, 183, 255, 0.897)));
  background-image: linear-gradient(rgba(80, 255, 45, 0.7), rgba(75, 183, 255, 0.897));
}

.information .container .container__right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information .container .container__right form input {
  margin-bottom: 13px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.information .container .container__right form input:last-child {
  margin-bottom: 0;
}

.information .container .container__right form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 2px solid lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 15px;
}

.information .container .container__right form #sendForm {
  background-color: #fff56a;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.information .container .container__right form #sendForm:hover {
  background-color: #f3e300;
  color: #000;
}

.mini_gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 315px;
  margin: 5px auto;
}

.mini_gal .photo {
  position: relative;
  width: 370px;
  height: 300px;
  margin-top: 5px;
  margin: 0 auto;
  background-color: rgba(99, 99, 99, 0.389);
}

.mini_gal .photo img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.mini_gal .photo .title_ph {
  position: relative;
  color: black;
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  width: 370px;
  height: 50px;
  left: 0px;
  bottom: 305px;
  z-index: 10;
  background-color: rgba(34, 230, 220, 0.548);
}

.gal_block {
  width: 100%;
  height: 585px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(160, 0, 0, 0)), to(#0d1581));
  background-image: linear-gradient(rgba(160, 0, 0, 0), #0d1581);
}

.gal_block .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  max-width: 55%;
  margin: 0 auto;
}

.gal_block .gallery:after {
  content: '';
}

.gal_block .shadow {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 500px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(#805d78, rgba(0, 0, 0, 0) 70%);
}

.gal_block .clipped-border {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(grey), to(lightgrey));
  background: linear-gradient(grey, lightgrey);
  width: var(--border-width);
  height: var(--border-height);
  max-height: 350px;
  max-width: 350px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  position: absolute;
  cursor: pointer;
}

.gal_block .clipped-border img {
  width: 100%;
  height: 100%;
}

.gal_block .clipped-border:before {
  content: '';
  position: absolute;
  opacity: 0.5;
  width: 450px;
  height: 70px;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.gal_block .clipped-border:hover:before {
  -webkit-transform: translate(-100px, 400%) rotate(45deg);
          transform: translate(-100px, 400%) rotate(45deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.gal_block .clipped-border:nth-child(2) {
  top: 196px;
  left: 118px;
}

.gal_block .clipped-border:nth-child(3) {
  top: 0;
  left: 235px;
}

.gal_block .clipped-border:nth-child(4) {
  top: 196px;
  left: 353px;
}

.gal_block .clipped-border:nth-child(5) {
  top: 0;
  left: 470px;
}

.gal_block #clipped {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.gal_block .clipped-border:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  z-index: 10;
}

@media screen and (max-width: 500px) {
  .gal_block .clipped-border {
    width: 100px;
    height: 100px;
  }
  .gal_block .clipped-border:nth-child(2) {
    top: 0;
    left: 100px;
  }
  .gal_block .clipped-border:nth-child(3) {
    left: 200px;
  }
  .gal_block .clipped-border:nth-child(4) {
    top: 82px;
    left: 50px;
  }
  .gal_block .clipped-border:nth-child(5) {
    top: 82px;
    left: 150px;
  }
}
/*# sourceMappingURL=emks.css.map */