* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto';
}

body {
    position: relative;
    min-width: 1280px;
}

// header

.header {
    width: 100%;
    height: 200px;
    position: relative;
    background: url("/assets/img/backMenu2.jpg") repeat-x; 
    background-attachment: fixed;
}

.header__logo {
    height: 134px;
    width: 100%;

    background: url("/assets/img/backMenu2.jpg") repeat-x; 
background-attachment: fixed;

    a {
        width: 260px;
        height: 100%;
        display: block;
        margin: 0 auto;

        img {
            height: 100%;
            width: 260px;
            display: block;
            margin: auto;
        }
    }
}

.header__nav-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-image: linear-gradient(rgba(62, 66, 104,0.7), rgba(104, 41, 41, 0));
    background-position: center;
    
    //background: rgba(27, 70, 126, 0.9);
    //border: 1px solid #000;
}

.fixed {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    height: 62px;
    //background: rgba(78, 78, 78, 0.5);
    background-image: linear-gradient(rgb(101, 116, 255), rgba(221, 242, 255,0));
   
    z-index: 10;
    border: none;
    width: 100%;

    transition-duration: 1s;

    &:hover{

        background-image: linear-gradient(rgb(85, 46, 255), rgba(221, 242, 255,0));
   

    }
    
}

.header__nav {
    max-width: 700px;
    margin: 0 auto;
}

.nav__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.item__link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
   
    font-weight: 400;
    flex-grow: 1;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s linear;

    &:hover {
       // background-color: rgba(97, 28, 28, 0.876);
        background-image: linear-gradient(rgb(160, 0, 0),rgba(129, 33, 33, 0));
   border-bottom-right-radius: 18px;
    }
}

.item__link:not(:last-child) {
    border-right: 2px solid grey;
}

// Slider section

.information {
   // margin-top: 20px;
    
   // background-image: url('/assets/img/nadswiper.jpg');

}


.swip_div{
    //border: 3px solid black;
    text-align: center;
    margin: auto;
width: 100%;
height: 100%;
//background-color: rgba(0, 138, 230, 0.4);

background-image: url('/assets/img/nadswiper.jpg');

img{
position: static;
width: 100%;
height: 100%;

}

}


.swiper-container {
    width: 90%;
    //border: 1px solid #000;
   // border-radius: 5px;
   // background-color: rgba(255,255,255,0.7);
    //background-image: url('/assets/img/backGr.png');
   // -webkit-border-radius: 5px;
   // -moz-border-radius: 5px;
   // -ms-border-radius: 5px;
   // -o-border-radius: 5px;
    height: 500px;
    
}

.information__slide {
    display: flex;
}

.slide__img {
    width: 40%;
    height: 100%;
    max-height: 600px;
    margin-left: 250px;
    img {
       
        max-width: 100%;
        height: 100%;
        display: block;
    }
}

.slide__text {
    padding: 5px;
    width: 60%;
    height: 100%;
    margin-right: 250px;

    p {
        opacity: 50%;
        font-size: 80px;
        line-height: 85px;

    }
}



// contacts top

.contact_info{

width: 990px;
height: 50px;
  //  border: 3px solid rgb(48, 48, 48);
margin-left: auto;
margin-right: auto;

display: flex;

    

p{

font-family: Verdana;

margin: 4px auto;
    width: 30%;
    height: 80%;
    padding: 14px;
    text-align: center;
    border-radius: 8px;
    border-bottom: 3px solid rgb(122, 30, 30);
        }
}



// mini-gallery form

.gallery_div {

width: 1300px;
height: 500px;
margin-left: auto;
margin-right: auto;
//border: 3px solid lightgrey;
//display: flex;
//align-items: center;

.img_1 {


   
   // transform: translateX(40px);
    position: absolute;
    width: 500px;
    height: 490px;
    border: 3px solid black;
    z-index: 4;


filter: brightness(80%);


transition-duration: .6s;
transition-timing-function: ease-out;

img{
    width: 500px;
    height: 490px;


}

}

.img_1:hover{

    margin-top: 0px;
    filter: brightness(100%);
    width: 500px;
    height: 490px;
    z-index: 4; 
}

.img_2 {
    

    margin-top: 20px;
    transform: translateX(270px);
   // transform: translateY(100px);
    position: absolute;
    width: 460px;
    height: 450px;
    border: 3px solid black;
    z-index: 3;
    
    filter: brightness(70%);


    
    transition-duration: .6s;
    transition-timing-function: ease-out;

    img{

        width: 460px;
        height: 450px;
    
        transition-duration: .6s;
        transition-timing-function: ease-out;
    }
}

.img_2:hover{

    transform: translateX(320px);
    margin-top: 0px;
    filter: brightness(100%);
    width: 500px;
    height: 450px;
    z-index: 4; 

    img{

        width: 500px;
        height: 490px;
        transition-timing-function: ease-out;
        transition-duration: .6s;
    
    }

   
}

.img_3 {


    margin-top: 40px;
    transform: translateX(540px);
    position: absolute;
    width: 420px;
    height: 410px;
    border: 3px solid black;
    z-index: 2;
    
    transition-timing-function: ease-out;
    transition-duration: .6s;
    filter: brightness(60%);

    img{

        width: 420px;
        height: 410px;
        transition-timing-function: ease-out;
        transition-duration: .6s;
    
    }
    
}
.img_3:hover{

    transform: translateX(590px);
    margin-top: 0px;
    width: 500px;
    height: 490px;
    filter: brightness(100%);
    z-index: 4; 

    img{

        width: 500px;
        height: 490px;
        transition-timing-function: ease-out;
        transition-duration: .6s;
    
    }
}

.img_4 {


    margin-top: 60px;
    transform: translateX(810px);
    position: absolute;
    width: 380px;
    height: 370px;
    border: 3px solid black;
    z-index: 1;
    
    filter: brightness(50%);
    transition-timing-function: ease-out;
    transition-duration: .6s;

    img{

        width: 380px;
        height: 370px;
    
        transition-timing-function: ease-out;
        transition-duration: .6s;
    }

}

.img_4:hover{

    transform: translateX(860px);
    margin-top: 0px;
    width: 500px;
    height: 490px;
    filter: brightness(100%);
    z-index: 4; 


    img{

        width: 500px;
        height: 490px;
        transition-timing-function: ease-out;
        transition-duration: .6s;
    
    }
}




}


// contact__form

.contacts {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: 1000px;

    h2 {
        text-align: center;
        color: #333;
        font-size: 40px;
        font-weight: 300;
    }
}

.contacts__wrapper {
    max-width: 973px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.wrapper__info {

    width: 60%;
    padding: 0 20px;

    p {
        color: grey;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.wrapper__card {
    width: 35%;
    max-height: 223px;
}

.form__message {
    height: 110px;

    textarea {
        height: 100%;
        width: 100%;
        resize: none;

        outline: none;
        border: 2px solid lightgrey;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        font-size: 16px;
        padding: 10px;
    }
}

.form__inputs {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    input {
        height: 40px;
        padding: 10px;
        width: 30%;
        font-size: 16px;

        outline: none;
        border: 2px solid lightgrey;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    input[type="submit"] {
        cursor: pointer;

    }
}

// visit card

.card {
    max-width: 1000px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.visit-card {
    padding: 40px 100px;
    border: 3px solid #333;
    text-align: center;

    &__main {
        line-height: 25px;
        color: rgb(143, 132, 132);

        &::after {
            content: "";
            width: 80%;
            height: 2px;
            background: rgb(143, 132, 132);
            display: block;
            margin: 20px auto 30px;
        }
    }

    &__name {
        font-size: 18px;
        color: #000;
    }
}

// catalog
.catalog {
    margin-top: 17px;
    
    width: 100%;
   // padding: 10px;




    #biser {
        visibility: visible;
    }

    @media screen and (max-width: 1280px) {
        padding: 0;
    }

    @media screen and (max-width: 1220px) {
        padding: 10px;
    }

    h2 {
       // background-color: rgb(173, 185, 255);
        text-align: center;
        color: #333;
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 8px;
       // margin-bottom: 30px;
    }

    .row {

        background-image: url("/assets/img/backCatal.png");
        display: flex;
        grid-template-columns: auto auto auto;
        //margin-bottom: 30px;
//background-color: rgb(143, 159, 255);
//background-attachment: fixed;

        @media screen and (max-width: 1220px) {
            display: flex;
            flex-direction: column;

        }

        .col {
width: 16%;
            padding: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
border-radius: 20px;
transition-property:  background-image;

            transition: all .2s ease-in-out;
           
margin: 10px;

background-image: linear-gradient(rgba(101, 116, 255,1), rgba(0, 0, 0, 0));
   
            &:hover {
                background-image: linear-gradient(rgba(101, 116, 255,1), rgba(31, 28, 172,0.8));
   
   
                transform: rotateX(7deg) rotateY(10deg) rotateZ(0);
            }

            .info {
                display: flex;
                margin-bottom: 20px;
                flex: 1;

                .info__left {
                    
                    border: 1px solid rgb(114, 114, 114);
                    border-radius: 25px;
                    height: 50px;
                        width: 50px;
                    align-items: flex-start;


                   
                }

                .info__right {
                    width: 79%;
                    .right__title {
                        
                        padding: 3px;
                        font-size: 25px;
                        color: rgb(13, 23, 68);
                        word-wrap: break-word;
                        margin-bottom: 10px;
                        /*  text-align: center; */
                    }

                    .right__descr {
                        color: rgb(143, 132, 132);
                        line-height: 22px;
                    }
                }
            }

            .img__wrapper {
                width: 100%;

                @media screen and (max-width: 1220px) {
                    max-width: 350px;
                    max-height: 380px;
                    margin: auto;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

// footer

.footer {
    text-align: center;
    height: 190px;
    border-top: 1px solid rgb(56, 56, 56);
    background-image: linear-gradient(rgb(101, 116, 255), rgb(221, 242, 255));
   

    .contDiv {
        width: 24.3%;
        float: left;
        //background-image: linear-gradient(rgb(156, 133, 255), rgb(221, 242, 255))
        //background-color: rgba(109, 148, 253, 0.842);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        //background-color: rgba(161, 23, 23, 0.1);
margin-right: 5px;
margin-left: 5px ;
        .socialDiv {

            float: inline-start;
            font-weight: bold;
            text-align: center;
            //padding: 30px;
         //  background-color: rgba(125, 160, 255, 0.842);
            display: flex;
margin-top: 10px;
margin-left: 10px;
            width: 30%;
            border-radius:40px;
            .sochial {
                height: 50px;
                // border: 1px solid rgb(119, 119, 119);  

            }

            img {

                position: relative;
                // padding-left: 50px;
                margin-top: 4%;
                margin-left: auto;
                margin-right: auto;
                float: left;
            }

        }

    }

    .ZagolovDiv {

        float: inline-start;
        font-weight: bold;
        border-top: 1px solid rgb(0, 0, 0);
        margin-bottom: 8px;

       
        
    }

    .contact {
        width: 60%;
        margin: auto;

       

    }


    .adres {
        //  width: 32%;
        margin: auto;

    }

    p {
        border-bottom: 1px solid rgb(141, 107, 255);

        border-bottom-width: 3px;
        border-radius: 40px;
        margin-bottom: 15px;

        transition-duration: 0.5s;

        &:hover{


            background-color: rgb(187, 145, 255);
        }
        
    }
}



//mini gal for positions


.main_menu{
 //   background-color: rgba(0,250,0,1);
width: 100%;
height: 500px;

//background-color: rgb(236, 236, 236);

background: url("/assets/img/backMenu2.jpg") ; 
background-attachment: fixed;
  animation: slide 60s linear infinite;

  @keyframes slide{ 
    0%{ 
    transform: translate3d(0, 0, 0); 
    } 
    100%{ 
    transform: translate3d(0, 0, 100px); 
    } 
  }


.main_cont{
margin: auto;
height: 100%;
width: 90%;
 //  background-color: rgba(250,0,0,1);
display: flex;

.info_card{

   // background-image: url("/assets/img/backCatal1.png");
    
   
   background-image: linear-gradient(rgba(53, 66, 184,0), rgb(31, 37, 94));
   
   
   height: 95%;
    width: 25%;

margin-left: 15px;
margin-right: 15px;
margin-top: 15px;

text-align: center;

border-radius: 15px;



img{


width: 100%;
height: 100%;

}
   // background-color: rgba(164, 171, 255,0.8);
    
    
    transition-duration: .5s;

    &:hover{

        background-color: rgb(111, 114, 255);
        transform: rotateX(4deg) rotateY(20deg) rotateZ(0);
    
    }
    
    &:active{
    
        background-color: rgb(0, 0, 0);   
    
    }
}



.card_text{

    width: 100%;
    max-height: 90%;
        
    text-align: center;
      display: inline;  

img{

width: 97%;
height: 70%;



}


    p{
        color: rgb(81, 107, 185);
        padding: 10px;
        text-align: center;
        font-size: 36px;
        word-wrap: break-word;
        
        font-family: 'Roboto';
    }       

        
    }



}



}

//Modal wind
#modal{

display: none;

}

.popup{

    width: 100%;
height: 340px;
background-image: linear-gradient(rgba(101, 116, 255,0), rgba(101, 116, 255,0));
   
color: rgb(20, 20, 20);
position: relative;
opacity: 0.0;
top: -443px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
transition-duration: 0.7s;




}



// .card_text:hover ~.popup{

//     opacity: 0.97;
//     background-image: linear-gradient(rgba(101, 116, 255,1), rgba(101, 116, 255,0));
   
//     //background-color: rgb(115, 113, 255);
// }